@layer reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
    [role="list"] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    body {
        min-block-size: 100vh;
        line-height: 1.6;
    }

    h1,
    h2,
    h3,
    button,
    input,
    label {
        line-height: 1.1;
    }

    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    p,
    li {
        text-wrap: pretty;
    }

    img,
    picture {
        max-inline-size: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

}

@layer base {
    /* Primitives */
    :root {
        /* Mode 1 */
        /* color */
        --colors-primary-color-100: #dedede;
        --colors-primary-color-200: #8e8e8e;
        --colors-primary-color-300: #535353;
        --colors-primary-color-400: #3c3c3c;
        --colors-primary-color-500: #282828;
        --colors-secondry-color-500: #aec6f6;
        /* number */
        --height-height-1: 0.5rem;
        --height-height-2: 0.875rem;
        --height-height-3: 1rem;
        --height-height-4: 1.5rem;
        --height-height-5: 2rem;
        --height-height-6: 2.5rem;
        --height-height-7: 3rem;
        --size-size-1: 0.5rem;
        --size-size-2: 0.875rem;
        --size-size-3: 1rem;
        --size-size-4: 1.5rem;
        --size-size-5: 2rem;
        --size-size-6: 2.5rem;
        --size-size-7: 3rem;
        --spacing-space-1: 0.5rem;
        --spacing-space-2: 1rem;
        --spacing-space-3: 1.5rem;
        --spacing-space-4: 2rem;
        --spacing-space-5: 2.5rem;
        --spacing-space-6: 3rem;
        --spacing-space-7: 5.5rem;
        /* string */
        --font-family-primary-font-family: Space Grotesk;
        --font-family-secoundry-font-family: DM Mono;
        --font-weight-weight-1: Bold;
        --font-weight-weight-2: Medium;
    }
    /* tokens */
    :root {
        /* web */
        /* color */
        --colors-background-color: var(--colors-primary-color-500);
        --colors-footer-text-color: var(--colors-primary-color-300);
        --colors-header-color: var(--colors-primary-color-200);
        --colors-header-span-color: var(--colors-secondry-color-500);
        --colors-list-color: var(--colors-primary-color-100);
        --colors-nav-color: var(--colors-primary-color-400);
        --colors-stroke-color: var(--colors-primary-color-300);
        --colors-stroke-span-color: var(--colors-secondry-color-500);

        /* font-size */
        --font-size-header-1: clamp(var(--size-size-6), var(--size-size-4));
        --font-size-header-2: clamp(var(--size-size-2), var(--size-size-1));
        --font-size-list: clamp(var(--size-size-3), var(--size-size-2));
        --font-size-footer-text: clamp(var(--size-size-2), var(--size-size-1));

        /*line-height*/
        --font-height-header-1: clamp(var(--height-height-7), var(--height-height-5));
        --font-height-header-2: clamp(var(--height-height-3), var(--height-height-2));
        --font-height-list: clamp(var(--height-height-4), var(--height-height-3));
        --font-height-footer-text: clamp(var(--height-height-3), var(--height-height-2));

        /* font-family */
        --font-family-footer-text-font-family: var(--font-family-primary-font-family);
        --font-family-header-1-font-family: var(--font-family-primary-font-family);
        --font-family-header-2-font-family: var(--font-family-primary-font-family);
        --font-family-list-font-family: var(--font-family-secoundry-font-family);

        /* font-weight */
        --font-weight-footer-text-font-family: var(--font-weight-weight-1);
        --font-weight-header-1-font-family: var(--font-weight-weight-2);
        --font-weight-header-2-font-family: var(--font-weight-weight-1);
        --font-weight-list-font-family: var(--font-weight-weight-2);

        /* spacing */
        --main-margin: clamp(var(--spacing-space-5), var(--spacing-space-2));
        --nav-padding: clamp(var(--spacing-space-2), var(--spacing-space-2));
        --footer-padding: clamp(var(--spacing-space-2), var(--spacing-space-2));
        --list-padding: clamp(var(--spacing-space-1), var(--spacing-space-1));
        --list-gap: clamp(var(--spacing-space-5), var(--spacing-space-3));
        --grid-gap: clamp(var(--spacing-space-3), var(--spacing-space-2));
        --section-gap: clamp(var(--spacing-space-7), var(--spacing-space-5));

    }
}

@layer utilities {

    .text-header-color{
        color: var(--colors-header-color);
    }
    .text-header-span-color{
        color: var(--colors-header-span-color);
    }
    .text-footer-color{
        color: var(--colors-footer-text-color);
    }
    .text-list-color{
        color: var(--colors-list-color);
    }
}